.whitebutton {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 252.33px;
  height: 40px;

  /* Ink/00 White */

  background: #ffffff;
  /* UI/Action */

  border: 1px solid #5a45f2;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.black {
  /* Button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 204.33px;
  height: 40px;

  /* Ink/05 Black */
  color: white;
  background: #000000;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.bluebutton {
  /* Button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 188.33px;
  height: 40px;

  /* UI/Action */
  color: white;
  background: #5a45f2;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}
